 <div class="container">

  <h1>App Component</h1>
  <div>
    <button *ngIf="account.IsLogin" class="btn btn-danger" (click)="logOut()" style="float: right;"> Log Out</button>
    <ul>
        <li class="menuItem" [routerLink]="['home', 'Austin']"  [queryParams]="{'route':'abc'}"> Home</li>
        <li class="menuItem" [routerLink]="['product', 191]" [queryParams]="{
          'name':'Paul', 'age':21
        }">Product</li>
    </ul>
  </div>

    <button type="button" (click)="navigate()"> Navigate to Product</button>
    <hr>

<router-outlet></router-outlet>
 </div>